<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projectmanas.manasliaison">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="in.projectmanas.manasliaison.C2D_MESSAGE" />

    <permission
        android:name="in.projectmanas.manasliaison.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/pm_logo_100x100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pm_logo_100x100"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.OnlineChallengeCommingSoon" />
        <activity android:name=".activities.OnlineChallengeOngoing" />
        <activity android:name=".activities.OrientationActivity" />
        <activity
            android:name=".activities.InterviewActivity"
            android:label="@string/title_activity_interview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FirstRunActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.backendless.push.BackendlessBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.projectmanas.manasliaison" />
            </intent-filter>
        </receiver>

        <service android:name="com.backendless.push.BackendlessPushService" />

        <activity android:name=".activities.TaskPhaseActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.SupportActivity" />
        <activity android:name=".activities.UploadCVActivity" />
        <activity android:name=".activities.CCPLActivity" />
        <activity android:name=".activities.GithubActivity"></activity>
    </application>

</manifest>